name: Deploy to Cloudflare Pages

on:
  repository_dispatch:
    types: [on-demand-release]
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write
  deployments: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    name: Build & Deploy
    steps:
      - name: Checkout to private repo
        uses: actions/checkout@v6
        with:
          repository: seiry/astro-blog
          token: ${{ secrets.GH_TOKEN_FOR_CHECKOUT }}

      - name: Install, build, and upload your site output
        uses: withastro/action@v5
        # with:
          # package-manager: bun
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy dist --project-name=your-project-name
          gitHubToken: ${{ secrets.GITHUB_TOKEN }} 
